<z-card class="px-4 cursor-pointer border border-primary hover:border-pink-400"
    (click)="menuItemClicked.emit(menuItem().path)">
    <z-card-header>
        <ng-icon [name]="menuItem().icon" size="2rem"></ng-icon>
    </z-card-header>
    <z-card-content>
        <div class="flex flex-col gap-4">
            <span class="text-xl text-bold">{{ menuItem().label }}</span>
            <span>{{ menuItem().description.length ? menuItem().description : "&nbsp;" }}</span>
        </div>
    </z-card-content>
</z-card>