<z-drawer [zVisible]="sidenavOpened()" (zVisibleChange)="sidenavClose.emit()" zPlacement="left">
    <div class="flex flex-col p-4 gap-4 text-lg">
        @for(menuItem of menu(); track menuItem) {
        <a [routerLink]="menuItem.path" routerLinkActive="font-semibold"
            class="flex items-center gap-2 cursor-pointer hover:font-semibold" href="javascript:void(0);">
            <ng-icon [name]="menuItem.icon" />
            <span>{{ menuItem.label }}</span>
        </a>
        }
    </div>
    <z-drawer-footer>
        <div class="flex justify-between">
            <button class="cursor-pointer" z-button zType="ghost" zSize="sm" (click)="toggleTheme()">
                <ng-icon [name]="darkMode.themeMode() === 'dark' ? 'sun': 'moon'" size="1.5rem" />
                <span class="sr-only">Toggle theme</span>
            </button>
            <button class="cursor-pointer" type="button" z-button zType="outline" z-drawer-close>
                <ng-icon name="chevronLeft" size="2rem" />
            </button>
        </div>
    </z-drawer-footer>
</z-drawer>