@layer ng-icon, theme, base, components, utilities;
@import 'tailwindcss';
@import '../shared/core/css/tailwind';
@import './variables';
@import "./theme";
@import "./layer";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--muted-foreground);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--muted);
}
