html,
body {
    margin: 0;
    min-height: 100vh;
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    color: var(--base-color);
    background-color: var(--base-background);
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    overflow: hidden;
    width: 100vw;
}
body {
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--muted-foreground);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--muted);
}
