
@theme {
    --font-sans: 'Roboto', sans-serif;

    --color-primary: #00b2c9;
    --color-primary-50: #e5fcff;
    --color-primary-100: #ccf9ff;
    --color-primary-200: #99f3ff;
    --color-primary-300: #66edff;
    --color-primary-400: #33e7ff;
    --color-primary-500: #00e1ff;
    --color-primary-600: #00b4cc;
    --color-primary-700: #008799;
    --color-primary-800: #005a66;
    --color-primary-900: #002d33;
    --color-primary-950: #002024;

    --color-primary-alt: #46a7b8;
    --color-primary-alt-50: #edf6f8;
    --color-primary-alt-100: #daeef1;
    --color-primary-alt-200: #b5dce3;
    --color-primary-alt-300: #90cbd5;
    --color-primary-alt-400: #6bb9c7;
    --color-primary-alt-500: #46a8b9;
    --color-primary-alt-600: #388694;
    --color-primary-alt-700: #2a656f;
    --color-primary-alt-800: #1c434a;
    --color-primary-alt-900: #0e2225;
    --color-primary-alt-950: #0a171a;

    --color-primary-alt2: #0e7391;
    --color-primary-alt2-50: #e8f8fd;
    --color-primary-alt2-100: #d1f1fa;
    --color-primary-alt2-200: #a2e2f6;
    --color-primary-alt2-300: #74d4f1;
    --color-primary-alt2-400: #45c6ed;
    --color-primary-alt2-500: #17b7e8;
    --color-primary-alt2-600: #1293ba;
    --color-primary-alt2-700: #0e6e8b;
    --color-primary-alt2-800: #09495d;
    --color-primary-alt2-900: #05252e;
    --color-primary-alt2-950: #031a20;

    --color-secondary: #e07bb2;
    --color-secondary-50: #faeaf3;
    --color-secondary-100: #f5d6e7;
    --color-secondary-200: #ecaccf;
    --color-secondary-300: #e283b7;
    --color-secondary-400: #d85a9f;
    --color-secondary-500: #cf3087;
    --color-secondary-600: #a5276c;
    --color-secondary-700: #7c1d51;
    --color-secondary-800: #531336;
    --color-secondary-900: #290a1b;
    --color-secondary-950: #1d0713;

    --color-contrast: #f5a13b;
    --color-contrast-50: #fef3e7;
    --color-contrast-100: #fce8cf;
    --color-contrast-200: #fad19e;
    --color-contrast-300: #f7b96e;
    --color-contrast-400: #f5a23d;
    --color-contrast-500: #f28b0d;
    --color-contrast-600: #c26f0a;
    --color-contrast-700: #915308;
    --color-contrast-800: #613805;
    --color-contrast-900: #301c03;
    --color-contrast-950: #221302;


}
