<div class="flex flex-col">
    <app-letter-filter (letterClicked)="onLetterClick($event)"></app-letter-filter>

    <ng-container *ngTemplateOutlet="pagination"></ng-container>

    <app-cocktail-list [cocktails]="paginatedDrinks()" (cocktailClicked)="onDrinkClicked($event)"></app-cocktail-list>

    <ng-container *ngTemplateOutlet="pagination"></ng-container>
</div>

<ng-template #pagination>
    <z-pagination class="my-8" [zTotal]="drinkStore.totalPages()" [zPageIndex]="drinkStore.pageIndex()"
        [zContent]="content" />
</ng-template>

<ng-template #content>
    <ul z-pagination-content>
        <li z-pagination-item>
            <z-pagination-previous class="cursor-pointer" (click)="drinkStore.nextPage()"
                [zDisabled]="!drinkStore.hasPrevPage()" />
        </li>
        @for (page of pages(); track page) {
        <li z-pagination-item>
            <button type="button" z-pagination-button class="cursor-pointer"
                [zActive]="page === drinkStore.pageIndex() + 1" (click)="drinkStore.setPage(page - 1)">
                <span class="sr-only">To page</span>
                {{ page }}
            </button>
        </li>
        }
        <li z-pagination-item>
            <z-pagination-next class="cursor-pointer" (click)="drinkStore.nextPage()"
                [zDisabled]="!drinkStore.hasNextPage()" />
        </li>
    </ul>
</ng-template>